{{> header }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Abouts</h1>
    </div>
    <div class="col-4">
        <img src="assets/img/Rainy_Night_1920x1080.jpg" alt="" class="img-thumbnail">
    </div>
</div>

{{> footer}}